.disable-select {
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.enable-select {
    user-select: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
}

.nav-pills > li + li {
    margin-left: 0 !important;
}

.goat {
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
}
